h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

.card-header {
  padding: 8px;
  text-align: center;
  background-color: #92b9e7;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card-body {
  position: relative;
  overflow-y: scroll;
}

.emptyDataDisplay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
