h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

.card-header {
  padding: 8px;
  text-align: center;
  background-color: #92b9e7;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card-body {
  position: relative;
  overflow-y: scroll;
  position: relative;
}

.emptyDataDisplay {
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
