<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link href="../public/css/modifications.css" rel="stylesheet" />
    <!-- <link href="../css/echarts.css" rel="stylesheet" /> -->
    <script type="module">
      import { loadDashboardData } from "../js/modules/api/dashboardDataHandling.js";
      import { checkBackendAvailability } from "../js/modules/api/fetchData.js";
      import { showEmptyDataMessage } from "../js/modules/api/dataHandlingFunctions.js";
      if (await checkBackendAvailability()) {
        loadDashboardData();
      } else {
        showEmptyDataMessage();
      }
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">Current Year</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="newData.html">New Data</a>
            </li>
          </ul>
          <button
            type="button"
            id="btnEnableDarkMode"
            class="btn btn-dark align-self-end d-flex justify-content-center align-items-center"
          >
            <i id="colorThemeIcon" class="bi-moon-fill"></i>
          </button>
        </div>
      </div>
    </nav>
    <div id="dashboardDataField" class="container-fluid w-75 h-100 mt-4"></div>
  </body>
</html>
