<!DOCTYPE html>
<html lang="en" class="w-100 h-100">
  <head>
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link href="../public/css/modifications.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DatenJahr</title>
  </head>
  <script type="module">
    import { loadData } from "../js/modules/api/dataHandling.js";
    import { checkBackendAvailability } from "../js/modules/api/fetchData.js";
    import { showEmptyDataMessage } from "../js/modules/api/dataHandlingFunctions.js";
    if (await checkBackendAvailability()) {
      loadData();
    } else {
      showEmptyDataMessage();
    }
  </script>
  <body class="w-100 h-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">Current Year</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="newData.html">New Data</a>
            </li>
          </ul>
          <button
            type="button"
            id="btnEnableDarkMode"
            class="btn btn-dark align-self-end d-flex justify-content-center align-items-center"
          >
            <i id="colorThemeIcon" class="bi-moon-fill"></i>
          </button>
        </div>
      </div>
    </nav>

    <div class="container-fluid w-75 mt-4">
      <div class="row mb-2">
        <div class="col">
          <div class="row mb-2 gy-2">
            <div class="col">
              <div class="card d-flex flex-column h-100">
                <div class="card-header bg-dark text-light">
                  <h5>Monthly Cash Flow</h5>
                </div>
                <div
                  class="card-body d-flex justify-content-center align-items-center"
                >
                  <table
                    class="table text-center"
                    id="generalInfoField"
                  ></table>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-header bg-dark text-light">
                  <h5>Fixed Costs Distribution</h5>
                </div>
                <div class="card-body">
                  <div
                    class="d-flex justify-content-center"
                    id="fixedCostsDistributionChart"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card d-flex flex-column h-100">
                <div class="card-header bg-dark text-light">
                  <h5>Most Expensive</h5>
                </div>
                <div
                  class="card-body d-flex justify-content-center align-items-center"
                >
                  <div id="top3ExpendituresChart"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-2 gy-2">
            <div class="col-lg col-sm-12">
              <div class="card">
                <div class="card-header bg-dark text-light">
                  <h5>Profits</h5>
                </div>
                <div class="card-body">
                  <div
                    class="mb-2 d-flex align-items-center justify-content-center custom-chart"
                    id="monthlyProfitsBarChart"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-lg col-sm-12">
              <div class="card">
                <div class="card-header bg-dark text-light">
                  <h5>Revenues</h5>
                </div>
                <div class="card-body text-center">
                  <div
                    class="mb-2 d-flex align-items-center justify-content-center custom-chart"
                    id="monthlyRevenuesBarChart"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-lg col-sm-12">
              <div class="card">
                <div class="card-header bg-dark text-light">
                  <h5>Expenditures</h5>
                </div>
                <div class="card-body">
                  <div
                    class="mb-2 d-flex align-items-center justify-content-center custom-chart"
                    id="monthlyExpendituresBarChart"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row gy-2" id="kpiDisplayField"></div>
        </div>
      </div>
    </div>
    <script src="../node_modules/echarts/dist/echarts.min.js"></script>
    <script src="../js/modules/utils/toggleDarkMode.js"></script>
  </body>
</html>
