<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="../assets/bootstrap/bootstrap-5.3.3-dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/bootstrap-icons-1.11.3/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="../css/modifications.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DatenJahr</title>
    <script type="module">
      import * as eventListeners from "../js/modules/utils/addEventListener.js"; // TODO: are those imports needed?
      import { checkBackendAvailability } from "../js/modules/api/fetchData.js";
      import { showEmptyDataMessage } from "../js/modules/api/dataHandlingFunctions.js";
      import { loadData } from "../js/modules/api/adminDataHandling.js";

      if ((await checkBackendAvailability()) === false) {
        showEmptyDataMessage();
      } else {
        loadData();
      }
    </script>
  </head>
  <body class="w-100 h-100">
    <div class="container-fluid mb-4 d-flex justify-content-center text-white">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <i class="bi bi-box-fill"></i>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">Current Year</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="newData.html">New Data</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-end">
          <button
            type="button"
            id="btnEnableDarkMode"
            class="btn btn-dark align-self-end d-flex justify-content-center align-items-center"
          >
            <i id="colorThemeIcon" class="bi-moon-fill"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card h-100">
            <div class="card-header bg-dark text-light">
              <h5>New Expenditure</h5>
            </div>
            <div class="card-body d-flex justify-content-center">
              <div class="form-group h-100">
                <label for="expenditure_type">Type</label>
                <select id="expenditure_type" class="form-control"></select>
                <label for="expenditure_month">Month</label>
                <input
                  type="text"
                  class="form-control"
                  id="expenditure_month"
                />
                <label for="expenditure_year">Year</label>
                <input type="text" class="form-control" id="expenditure_year" />
                <label for="amount">Amount</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  id="expenditure_amount"
                />
                <button
                  type="button"
                  class="mt-2 btn btn-sm btn-primary form-control w-25"
                  id="expenditure_submitDataButton"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-header bg-dark text-light">
              <h5>New Revenue</h5>
            </div>
            <div class="card-body d-flex justify-content-center">
              <div class="form-group h-100">
                <label for="month">Month</label>
                <input type="text" class="form-control" id="revenue_month" />
                <label for="year">Year</label>
                <input class="form-control" id="revenue_year" />
                <label for="amount">Amount</label>
                <input type="text" class="form-control" id="revenue_amount" />
                <button
                  type="button"
                  class="mt-2 btn btn-sm btn-primary form-control w-25 mx-auto"
                  id="revenue_submitDataButton"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- TODO: Enable to enable/disable the kpi-display for specific categories here -->
        <div class="col">
          <div class="card h-100">
            <div class="card-header bg-dark text-light">
              <h5>New Category</h5>
            </div>
            <div class="card-body d-flex justify-content-center">
              <div class="form-group h-100">
                <label for="name">Category Name</label>
                <input type="text" class="form-control" id="category_name" />
                <div class="d-flex justify-content-between">
                  <label for="showAsKPIField">Show as KPI</label>
                  <input
                    type="checkbox"
                    id="showAsKPIField"
                    name="showAsKPIField"
                  />
                </div>
                <div class="d-flex justify-content-between">
                  <label for="isFixedCostField">Is Fixed Cost</label>
                  <input
                    type="checkbox"
                    id="isFixedCostField"
                    name="isFixedCostField"
                  />
                </div>
                <button
                  type="button"
                  class="mt-2 btn btn-sm btn-primary form-control w-25 mx-auto"
                  id="category_submitDataButton"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-header bg-dark text-light">
              <h5>Fixed Costs</h5>
            </div>
            <div class="card-body d-flex justify-content-center">
              <div class="form-group h-100">
                <label for="type">Type</label>
                <select id="fixedCostsField" class="form-control"></select>
                <label for="type">Amount</label>
                <input
                  type="text"
                  class="form-control"
                  id="fixedCostsAmountField"
                />
                <button
                  type="button"
                  class="mt-2 btn btn-sm btn-primary form-control w-25 mx-auto"
                  id="fixedCosts_submitDataButton"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../assets/echarts/5.5.0/echarts.min.js"></script>
    <script src="../js/modules/utils/toggleDarkMode.js"></script>
  </body>
</html>
